{% extends 'base.html' %}

{% comment %} NAVBAR CONTENT {% endcomment %}
{% block navbar-content %}
<a class="navbar-brand" href="#">Patients</a>
{% endblock navbar-content %}

{% comment %} Button NavBar {% endcomment %}
{% block btn-nav %}
<button class="btn btn-outline-danger me-2" type="submit"><a href="{% url 'logout' %}" style="text-decoration: none; color: inherit;">Logout</a></button>
{% endblock btn-nav %}  

{% block content %} 
<div class="row justify-content-center">
    <div class="col-auto">
        <h1 class="text-danger"> Backend Page </h1>
    </div>
</div>
{% endblock content %}