{% extends 'base.html' %}

{% comment %} NAVBAR CONTENT {% endcomment %}
{% block navbar-content %}
<a class="navbar-brand" href="#">Patients</a>
{% endblock navbar-content %}

{% comment %} Button NavBar {% endcomment %}
{% block btn-nav %}
<button class="btn btn-outline-danger me-2" type="submit"><a href="{% url 'logout' %}" style="text-decoration: none; color: inherit;">Logout</a></button>
{% endblock btn-nav %}  

{% block content %} 
<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <a href="{% url 'add_patient' %}" class="btn btn-outline-primary">
            <i class="fa fa-plus-circle"></i> &nbsp; Add user
        </a>
        <span>
            Welcome: <strong><span class="text-primary"> {{ user.username }} </span></strong>
        </span>
    </div>
</div>
{% endblock content %}