{% extends 'base.html' %}

{% block content %} 
{% comment %} <style>
    body {
        background: url("static/img/welcome.jpg");
        background-position: center 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style> {% endcomment %}
<div class="bg-frontend">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1> Frontend Page </h1>
        </div>
    </div>
</div>
{% endblock content %}